/.cproject
/.project
/.settings/
/router/*.d
/VisualGDBCache/csc458-Debug/SourceCache.dat
/VisualGDBCache/csc458-Debug
/release.mak
/Makefile.old
/Makefile
/gcc_Release.h
/gcc_Debug.h
/debug.mak.old
/debug.mak
/Debug/csc458.log
/Debug
/csc458.vcxproj.filters
/csc458.vcxproj
/csc458.VC.VC.opendb
/csc458.VC.db
/csc458.sln
/csc458-Release.vgdbsettings
/csc458-Debug.vgdbsettings
/.vs/csc458/v14/.suo
/.vs/csc458/v14
